<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>めんそーれー 👋</h2>
        <p>熱心でパソコン大好きな<b>Full Stack Developer</b>です。 ドイツ出身で現在は東京に住居しています。<br><b>日本語、英語、ドイツ語</b>は流暢です。</p>
        <p>コーディングは2020年から始めました。きっかけはコロナではなく私の尊敬する兄(Senior Software Engineer)でした。3月2021年<a href="https://www.lewagon.com/ja/tokyo">LeWagon</a>卒業（Kodama合同会社・2021年から経済産業省認定）<br>
          <a href="https://www.youtube.com/watch?v=Zl-D6htsWBA">Video</a> 卒業プロジェクト（英語のみ）</p>
        <p>現在、Ruby on Railsを専門とし、WebサイトおよびWebアプリケーションの構築の経験を持つフルスタックWeb開発者。Ruby on Rails以外の私のスキルには、Javascript、HTML、CSS、SQLなどがあります。</p>
        <p>某は今は1つの巨大なプロジェクトと2つの他のプロジェクトに取り組んでおり、皆さんと共有することを楽しみにしています！ハッピーコーディング！</p>
      </div>
    </div>
  </div>
</div>
