<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>Hello 👋</h2>
        <p>I'm a passioned full stack developer with a looong love towards computers. I'm based out of Tokyo, but originally from Germany. Fluent in English, Japanese and German!</p>
        <p>If you are interested in my story, you can check this out:</p>
        <% link_to "https://jp.linkedin.com/in/lawrence-kroll", target: '_blank'
      </div>
    </div>
  </div>
</div>