<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>めんそーれー 👋</h2>
        <p>熱心でパソコン大好きなFull Stack Developerです。 ドイツ出身で現在は東京に住居しています。日本語、英語、ドイツ語は流暢です。<br><br>現在、Ruby on Railsを専門とし、WebサイトおよびWebアプリケーションの構築の経験を持つフルスタックWeb開発者。Ruby on Rails以外の私のスキルには、Javascript、HTML、CSS、SQLなどがあります。<br><br>
        某は今は1つの巨大なプロジェクトと2つの他のプロジェクトに取り組んでおり、皆さんと共有することを楽しみにしています！ハッピーコーディング！</p>
      </div>
    </div>
  </div>
</div>