<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>めんそーれー 👋</h2>
        <p>熱心でパソコン大好きなFull Stack Developerです。 ドイツ出身で現在は東京に住居しています。日本語、英語、ドイツ語は流暢です。</p>
        <p>某のLinkedInプロファイルは以下にご覧ください:</p>
        <i class="devicon-heroku-original colored"></i>
        <% link_to "https://jp.linkedin.com/in/lawrence-kroll", target: '_blank' do %>
          <%= image_tag "back.jpg", alt: "alttext", style: 'width:100%' %>
        <% end %>
      </div>
    </div>
  </div>
</div>