<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>はじめまして 👋</h2>
        <p>パソコン大好きで熱心な<b><a href="https://github.com/DonaldLTB" target="_blank">Full Stack Developer</a></b>のローレンスと申します。 ドイツ出身で関西学院大学卒業し現在は東京に住居しています。<br><b>日本語、英語、ドイツ語</b>は流暢です。配偶者は日本人です。</p>
        <p>コーディングは2020年から始めました。きっかけはコロナではなく私の尊敬する兄(Senior Software Engineer)でした。3月2021年<a href="https://www.lewagon.com/ja/tokyo" target="_blank">LeWagon</a>卒業（Kodama合同会社・2021年から経済産業省認定）<br>
          <a href="https://www.youtube.com/watch?v=Zl-D6htsWBA" target="_blank">Video</a> 卒業プロジェクト（英語のみ）</p>
        <p>現在、Ruby on Railsを専門とし、WebサイトおよびWebアプリケーションの構築の経験を持つフルスタックWeb開発者。Ruby on Rails以外の私のスキルには、Javascript、HTML、CSS、SQLなどがあります。</p>
        <p>これから某の目的はIT業界で成長して色々開発したいと思っています。何か一緒にしたいプロジェクトなどがあれば遠慮なくメール若しくはLinkedInの方で連絡して下さい。この世界を一人ではなく一緒に改善しましょう！<br><br>宜しくお願いします。</p>
      </div>
    </div>
  </div>
</div>
