<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">

    <h1 class="title-main">ローレンス</h1>
    <div class="navigation-buttons d-flex justify-content-center">
      <div class="navigation-button d-flex flex-column justify-content-center align-items-center" style="color: white;">
        <i class="far fa-address-card"></i>
          <span>About</span>
        <%= link_to "", "#about", class: 'navigation-button-link' %>
      </div>
    <%= image_tag "pimg.png", alt: "me_photo", class: 'avatar-large-square my-4' %>
      <div class="navigation-button d-flex flex-column justify-content-center align-items-center" style="color: white;">
        <i class="fas fa-code-branch"></i>
          <span>Projects</span>
        <%= link_to "", "#projects", class: 'navigation-button-link' %>
      </div>
    </div>
    <div class="navigation-button d-flex flex-column justify-content-center align-items-center" style="color: white;">
        <i class="fas fa-at"></i>
          <span>Contact</span>
        <%= link_to "", "#contact", class: 'navigation-button-link' %>
      </div>
  </div>
</div>
