<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="projects" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
        <h2>プロジェクト</h2>
        <p>個人のプロジェクトリストです。</p>
      </div>
     <div class="cards" style="padding-top: 4px;">
        <% data.products.each do |product| %>
          <div>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(product.image) %>)">
              <div class="card-description">
                <h5><%= product.name %></h5>
                <p><%= product.description %></p>
                <div class="d-flex justify-content-between align-items-center mt-1">
                  <div class="card-tags">
                    <% product.tags.each do |tag| %>
                      <span><i class="<%= tag %>"></i></span>
                    <% end %>
                  </div>
                  <% link_to product.url, class: 'external-link', target: '_blank' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
