.banner {
    height: 100vh;
  }
  
  .title-main {
    margin: 0;
  }
  
  .main-container {
    max-width: 580px;
    margin: 0px auto;
    background-color: white;
    padding: 24px;
    margin-bottom: 24px;
    p {
      font-size: 18px;
    }
  }
  
  .wrapper-white {
    background-color: white;
    margin-bottom: 24px;
    border-radius: 5px;
  }
  
  h2 {
    font-weight: bolder;
  }