.card-flip {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  // margin: 20px;
  width: 450px;
  height: 300px;
  // perspective: 1000px;
  // flex-wrap: wrap;
}

.front {
  height: 300px;
  width: 450px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, red , blue);
}

.front:hover {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.back {
  // position: absolute;
  height: 300px;
  width: 450px;
  transform: rotateY(180deg);
}

.back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 240px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // position: relative;
  // margin-bottom: 7em;
}

.card-category:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}

.card-description {
  // background-color: white;
  // // padding: 24px;
  // // margin-top: -24px;
  // position: absolute;
  // // bottom: -108px;
  // // width: 85%;
  // border-radius: 5px;
  // // height: 154px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    color: lightgray;
    font-size: 22px;
  }
  p {
    margin-bottom: 4px;
    font-weight: lighter;
  }
  h5 {
    font-weight: bold;
  }
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  // background-color: white;
  padding: 24px;
  padding-top: 4px;
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: rgba(128, 128, 128, 0.349);
  transition: opacity 1s;
  &:hover {
    // cursor: pointer;
    // color: rgb(128, 128, 128)
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative; // NEEDED FOR THE LINK
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-tags {
  height: 1.5em;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 1;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .external-link {
    opacity: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

