
<div class="background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="container">
          <!-- Banner Section -->
          <%= partial 'assets/partials/banner' %>
          <!-- About Section -->
          <%= partial 'assets/partials/about' %>
          <!-- Project Section -->
          <%= partial 'assets/partials/project' %>
          <!-- Renraku Section -->
          <%= partial 'assets/partials/renraku' %>
        </div>
      </div>
    </div>
  </div>
</div>